<!DOCTYPE html>
<html>
<%- include('layouts/landing-page-header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>

      <header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="page-heading">
                <h1>MINDX</h1>
                <span class="subheading"></span>
              </div>
            </div>
          </div>
        </div>
      </header>

      <main class="blog-container">
        <header class="header">
          <div style="display: flex">
            <% for(var i = 0; i < post.category.length; i++) {%>
              <p style="padding: 20px;" class="subheading"><%= post.category[i] %></p>
            <% } %>
          </div>

          <%- include('layouts/author-info-card'); -%>
          <h1 class="heading"><%= post.title %></h1>
        </header>
        <section class="content">
          <div class="image-container">
            <img src='<%= post.image %>' alt='large-image'
              class="poster-image">
          </div>

          <p><%= post.excerpt %>
          </p>
          <p><%= post.content %>
          </p>
          <p>
            <!-- Velit scelerisque in dictum non consectetur. Potenti nullam ac tortor vitae purus faucibus ornare
            suspendisse sed. Interdum velit euismod in pellentesque massa. Amet porttitor eget dolor morbi non.
            Pellentesque diam volutpat commodo sed egestas egestas. Massa sapien faucibus et molestie ac. Rhoncus aenean
            vel elit scelerisque mauris. In est ante in nibh mauris cursus mattis molestie a. At imperdiet dui accumsan
            sit amet nulla. Egestas erat imperdiet sed euismod nisi. In pellentesque massa placerat duis ultricies lacus
            sed turpis tincidunt. Maecenas volutpat blandit aliquam etiam. Orci phasellus egestas tellus rutrum tellus
            pellentesque. Id ornare arcu odio ut sem nulla pharetra diam sit. Faucibus pulvinar elementum integer enim.
            At risus viverra adipiscing at in tellus. Eget mauris pharetra et ultrices. Nulla posuere sollicitudin
            aliquam ultrices sagittis orci a. -->
            <b>Which Blog Post Will You Write Next?</b>
            <br/>
            Your blog post’s introduction plays an important role in whether or not your readers will stick around, so make sure you spend time perfecting it.
            <br/>
            <br/>
            Remember to keep it short and sweet, stimulate your reader’s curiosity, and demonstrate what they’ll gain from reading your article.
            <br/>
            <br/>
            Now, get out there, and write your next captivating introduction. Good luck!
            </p>
        </section>
        <aside class="aside">
          <h4 class="heading">Other Articles you might Enjoy</h4>
          <% for(var i=0; i < recommendedPosts.length; i++) { %>
            <div id="<%= recommendedPosts[i]._id %>" class="card">
              <img
                src='<%= recommendedPosts[i].image %>'
                alt=''>
              <div>
                <p class="heading title card-title"><%= recommendedPosts[i].title %></p>
                <p class="author"><%= recommendedPosts[i].user.name %></p>
              </div>
            </div>
         <% } %>
        </aside>
        <footer class="footer">
          <a href="https://twitter.com/agneymenon" target="_blank" class="name-link">Boy with Silver Wings</a>
        </footer>
      </main>

      <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
  </body>

</html>