<!DOCTYPE html>
<html>
<%- include('layouts/profile-header'); -%>

    <body>
        <%- include('layouts/navbar'); -%>

            <header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <div class="page-heading">
                                <h1>MINDX</h1>
                                <span class="subheading"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <main class="blog-container">
                <div class="container">
                    <div class="row profile">
                        <div class="col-md-3">
                            <div class="profile-sidebar">
                                <!-- SIDEBAR USERPIC -->
                                <div class="profile-userpic">
                                    <img src="<%= user.profilePicture %>" class="img-responsive" alt="">
                                </div>
                                <!-- END SIDEBAR USERPIC -->
                                <!-- SIDEBAR USER TITLE -->
                                <div class="profile-usertitle">
                                    <div class="profile-usertitle-name">
                                        <%= user.name %>
                                    </div>
                                    <div class="profile-usertitle-job">
                                        Blogger
                                    </div>
                                </div>
                                <!-- END SIDEBAR USER TITLE -->
                                <!-- SIDEBAR BUTTONS -->
                                <!-- <div class="profile-userbuttons">
                                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                                    <button type="button" class="btn btn-danger btn-sm">Message</button>
                                </div> -->
                                <!-- END SIDEBAR BUTTONS -->
                                <!-- SIDEBAR MENU -->
                                <div class="profile-usermenu sidebar-sticky">
                                    <ul class="nav flex-column">
                                        <!-- <li class="active nav-item">
                                            <a href="#" class="nav-link">
                                                <i class="fa fa-home"></i>
                                                Overview </a>
                                        </li> -->
                                        <li class="nav-item active">
                                            <a class="nav-link"
                                                href="https://codepen.io/jasondavis/pen/jVRwaG?editors=1000">
                                                <i class="fa fa-user"></i>
                                                Account Settings </a>
                                        </li>
                                        <!-- <li class="nav-item">
                                            <a class="nav-link" href="#" target="_blank">
                                                <i class="fa fa-check"></i>
                                                Tasks </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">
                                                <i class="fa fa-flag"></i>
                                                Help </a>
                                        </li> -->
                                    </ul>
                                </div>
                                <!-- END MENU -->

                                <div class="portlet light bordered">
                                    <!-- STAT -->
                                    <div class="row list-separated profile-stat">
                                        <div class="col-md-4 col-sm-4 col-xs-6">
                                            <div class="uppercase profile-stat-title"> <%= numberOfPosts %> </div>
                                            <div class="uppercase profile-stat-text"> Blogs </div>
                                        </div>
                                        <!-- <div class="col-md-4 col-sm-4 col-xs-6">
                                            <div class="uppercase profile-stat-title"> 51 </div>
                                            <div class="uppercase profile-stat-text"> Tasks </div>
                                        </div> -->
                                        <div class="col-md-4 col-sm-4 col-xs-6">
                                            <div class="uppercase profile-stat-title"> <%= numberOfPosts %> </div>
                                            <div class="uppercase profile-stat-text"> Uploads </div>
                                        </div>
                                    </div>
                                    <!-- END STAT -->
                                    <div>
                                        <h4 class="profile-desc-title">About Blogger</h4>
                                        <span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh
                                            dolore. </span>
                                        <div class="margin-top-20 profile-desc-link">
                                            <i class="fa-brands fa-facebook"></i>
                                            <a href="https://www.facebook.com/">Facebook</a>
                                        </div>
                                        <div class="margin-top-20 profile-desc-link">
                                            <i class="fa-brands fa-instagram-square"></i>
                                            <a href="https://www.instagram.com/">Instagram</a>
                                        </div>
                                        <div class="margin-top-20 profile-desc-link">
                                            <i class="fa-solid fa-envelope"></i>
                                            <a href="http://gmail.com/">Email</a>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="profile-content">

                                <div class="container">
                                    <div class="row" id="main">
                                        <div class="col-md-12">
                                            <form id="user-form" action="/users/update" method="post" role="form" enctype="multipart/form-data">
                                                <h2>Edit your profile.<small>It's always easy</small></h2>
                                                <hr class="colorgraph">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <input type="text" value="<%= user.name %>" name="name"
                                                                id="name" class="form-control input-lg"
                                                                placeholder="First Name" tabindex="1">
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-xs-12 col-sm-8 col-md-4">
                                                        <div class="form-group">
                                                            <input type="text" name="last_name" id="last_name"
                                                                class="form-control input-lg" placeholder="Last Name"
                                                                tabindex="2">
                                                        </div>
                                                    </div> -->
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" value="<%= user.email %>" name="email"
                                                        id="email" class="form-control input-lg"
                                                        placeholder="Email Address" tabindex="4">
                                                </div>
                                                <div class="form-group">
                                                    <input type="file" accept="image/*"
                                                        name="image" id="image" class="form-control input-lg"
                                                        placeholder="Image" tabindex="4">
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <input type="password" name="password" id="password"
                                                                class="form-control input-lg" placeholder="Password"
                                                                tabindex="5">
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-xs-12 col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <input type="password" name="password_confirmation"
                                                                id="password_confirmation" class="form-control input-lg"
                                                                placeholder="Confirm Password" tabindex="6">
                                                        </div>
                                                    </div> -->
                                                </div>
                                                <hr class="colorgraph">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-6"></div>
                                                    <div class="col-xs-12 col-md-6">
                                                        <a id="submit-user" href="#" class="btn btn-success btn-block btn-lg">Save</a>
                                                        <!-- <input class="btn btn-success btn-block btn-lg" type="submit" value="Save"> -->
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- 	</div>
                </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </main>

            <%- include('layouts/footer'); -%>
            <%- include('layouts/scripts'); -%>
            <%- include('layouts/submit-user-info'); -%>
    </body>

</html>